
.container {
	width:100%;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.bar-chart {
  position: absolute;
  padding: 5% 0 0 5%;
  overflow: visible;
}
.line-chart {
  overflow: visible;
  padding: 0 0 0 5%;
}


#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#name {
	color: #e57b0b;
}

#value {
	color: #4d9707;
}

.graph-title {
	font-size: 2.5em;
	font-family: 'Poiret One'!important ;
}

.line-chart text {
    font-family: sans-serif;
    font-weight: bold;
}

.line-chart g text {
    font-size: 11px;
}

.bar-chart text {
	font-family: sans-serif;
	font-weight: bold;
}

.bar-chart g text {
    font-size: 11px;
}

.grid-box {
    display: grid;
    height: 800px;
}